body{
    background: #f9e933;
    font-family: 'Droid Sans', sans-serif;
    font-size: 100%;

}
h1, h2, h3, h4 {
    font-family: 'Ubuntu', sans-serif;
    
}
a {
    text-decoration: none;
    color: rebeccapurple
}
a:hover {
   color: fuchsia;
   text-decoration: underline;
}
ul{
    margin-top: 2px;
}
li{
    margin-bottom: 2px;
}
header, nain, footer {
    min-width: 855px;
    padding: 15px;
}
header .container, main .container, footer .container {
    max-width: 855px;
    padding: 20px;
    margin: auto;
     overflow: auto;
      border: 1px solid black;
      border-radius: 10px;
    
}
/*--------header----------------*/
header {
    background: white;
    overflow: auto;
    border-bottom: 3px solid black;
}
header h1{
    float: left;
    width: 570px;
    font-family: 'Oswald', sans-serif;
    font-size: xx-large;
    
}
header nav{
    float: right;
    width: 285px;
}
header nav a {
    border-right: 2px solid;
    padding-right: 5px;
}
header nav a:last-of-type {
    border: none;
}
/*---------main------------------------*/
 main{
    background: white;
    overflow: auto;
    padding: 15px;
    
 }
 main .left{
    float: left;
    width: 570px;
 }
 main .right {
    float: right;
    width: 285px;
 }
 main h2 {
     font-size: x-large;
     margin-bottom: 10px;
 }
 main h3 {
     font-size: large;
     margin-top: 25px;
     margin-bottom: 10px;
 }
 /*-----------footer------------------*/
  footer {
    background: #f9e933;
    overflow: auto;
 }
footer .left{
    float: left;
    width: 570px;
 }
footer .right {
    float: right;
    width: 285px;
 }
 footer h5 {
     margin-top: 10px;
     margin-bottom: 10px;
 }

